Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7
psycopg2-binary==2.9.10
bcrypt==4.2.0
matplotlib==3.9.2
numpy==2.2.2
gunicorn==23.0.0
pytz==2025.1
flask
flask-sqlalchemy
flask-migrate
flask-bcrypt
psycopg2-binary
matplotlib
numpy
pip freeze > requirements.txt
